body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Full viewport height */
    background-color: #f0f0f0; /* Light gray background */
}

.header {
    background-color: LightSkyBlue;
    font-size: 24px;
    padding: 10px;
    text-align: center;
    width: 800px;
}

.red {
    background-color: red;
}

.white {
    background-color: white;
}

.blue {
    background-color: #21468B; /* Dutch blue color */
}

.rectangle {
    width: 800px;
    height: 150px;
    margin-bottom: 10px;
}